<div class="project-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1533651180995-3b8dcd33e834?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
  <h1> <%= @user.email %>’s page </h1>
</div>

<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :profile,
                  required: true %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Save changes" , class: "btn btn-edit btn-block"  %>
    </div>
  <% end %>
</div>

<div class="bottom-page">
  <%= link_to 'Back to homepage', root_path, class: 'btn btn-menu' %>
</div>



