
 <div class="row justify-content-center form-page">
    <div class="col-md-8">
      <h1>Your Project</h1>

      <%= simple_form_for @project do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-6">
<%= link_to 'Back', root_path %>
</div>
