<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Log out", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://cdn.pixabay.com/photo/2014/10/18/22/26/squirrel-493790_1280.jpg", class: "avatar" %>
      </li>
    </ul>
  </div>
</div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://ichef.bbci.co.uk/news/1024/cpsprodpb/12506/production/_109241057_mediaitem109241054.jpg)">
  <div class=banner-container>
    <h1> CREATE A NEW PROJECT</h1>
  </div>
</div>

 <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Your Project</h1>

      <%= simple_form_for @project do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-6">
<%= link_to 'Back', root_path %>
</div>
