<div class="project-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1508758980773-0d840264575d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)">
  <div class="title-container">
    <h1><%= @project.title %></h1>
  </div>
   <div class="avatar-placeholder">
    <% @project.user.photo.attached? ? key = @project.user.photo.key : key = "19jhc3a8utphedgglcuwlic9vpty" %>
    <%= cl_image_tag(key, :gravity=>"face:center", :height=>80, :width=>80, :crop=>"thumb")%>
  </div>
</div>


<div class="container project-info">
  <div class="description">
    <h3>Description</h3>
    <p><%= @project.description %></p>
  </div>

  <div class="evolution">
    <h3>Evolution</h3>
    <p><%= @project.evolution %></p>
  </div>

  <div class="applications">
    <h4>Your received ? applications for your project</h4>
    <div class="candidates">
      <% if current_user == @project.user %>
          <% @project.candidates.each do |candidate| %>
          <div class="candidate-card">
            <h5><%= candidate.user.username %></h5>
            <p><%= candidate.user.role %></p>
            <p><%= candidate.message %></p>
            <% candidate.user.photo.attached? ? key = candidate.user.photo.key : key = "19jhc3a8utphedgglcuwlic9vpty" %>
            <%= cl_image_tag(key, :gravity=>"face:center", :height=>80, :width=>80, :crop=>"thumb")%>
            <%= link_to "✅", project_candidate_accepted_path(@project, candidate) %>
            <%= link_to "❌", project_candidate_refused_path(@project, candidate) %>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="buttons">
  <div class="participation text-center">
  <%= link_to 'Participate to this project', new_project_candidate_path(@project), class: 'btn btn-apply' %>
  </div>

  <div class="edition text-center">
  <%= link_to 'Edit this project', edit_project_path(@project), class: 'btn btn-edit' %>
  </div>
</div>

<div class="bottom-page text-center">
  <%= link_to 'Back to homepage', root_path, class: 'btn btn-menu' %>
</div>
