<div class="project-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1508758980773-0d840264575d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)">
  <div class="title-container">
    <h1><%= @project.title %></h1>
  </div>
   <div class="avatar-user">
    <% @project.user.photo.attached? ? key = @project.user.photo.key : key = "19jhc3a8utphedgglcuwlic9vpty" %>
    <%= cl_image_tag(key, :gravity=>"face:center", :height=>80, :width=>80, :crop=>"thumb")%>
  </div>
</div>


<div class="container info-details project-details">
  <div class="description">
    <h3>Description</h3>
    <p style="white-space: pre-wrap;"><%= @project.description %></p>
  </div>

  <div class="evolution">
    <h3>Evolution</h3>
    <p style="white-space: pre-wrap;"><%= @project.evolution %></p>
  </div>
</div>

<% if current_user == @project.user %>
  <div class="applications">
    <h3>You received (<%= @project.candidates.where(status: "In progress").size %>) applications for your project</h3>
    <div class="candidates">
      <% @project.candidates.each do |candidate| %>
      <% if candidate.status == "In progress" %>
        <div class="candidate-card">
          <h3><%= candidate.user.username %></h3>
          <h5><%= candidate.user.role %></h5>
          <p style="white-space: pre-wrap;"><%= candidate.message %></p>
          <div class="avatar-user">
            <% candidate.user.photo.attached? ? key = candidate.user.photo.key : key = "19jhc3a8utphedgglcuwlic9vpty" %>
            <%= cl_image_tag(key, :gravity=>"face:center", :height=>80, :width=>80, :crop=>"thumb")%>
          </div>
          <div class="candidate-choice">
          <%= link_to "", project_candidate_accepted_path(@project, candidate), class: "fas fa-check-circle", style: "color: green; font-size: 40px;" %>
          <%= link_to "", project_candidate_refused_path(@project, candidate), class: "fas fa-times-circle", style: "color: red; font-size: 40px;"%>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>



<div class="buttons">
  <% if current_user.role != "creator"%>
    <% result = true %>
    <% @project.candidates.each { |candidate| candidate.user == current_user ? result = false : result = true } %>
    <% if result %>
      <% if current_user.role == "developer" && @project.dev.nil?%>
          <div class="participation text-center">
            <%= link_to 'Participate to this project', new_project_candidate_path(@project), class: 'btn btn-apply' %>
          </div>
        <% elsif current_user.role == "angel" && @project.angel.nil?%>
          <div class="participation text-center">
            <%= link_to 'Participate to this project', new_project_candidate_path(@project), class: 'btn btn-apply' %>
          </div>
      <% else %>
        <div class="participation text-center">
          <p>This project already has a <%= current_user.role %></p>
        </div>
      <% end %>
    <% else %>
      <div class="participation text-center">
        <p>You have already applied</p>
      </div>
    <% end %>
  <% elsif current_user == @project.user %>
    <div class="edition text-center">
      <%= link_to 'Edit this project', edit_project_path(@project), class: 'btn btn-edit' %>
    </div>
  <% end %>
</div>

<div class="bottom-page text-center">
  <%= link_to 'Back to homepage', root_path, class: 'btn btn-menu' %>
</div>
