<div class="project-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1508758980773-0d840264575d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)">
  <h1><%= @project.title %></h1>
</div>


<div class="container project-info">
  <h3>Description</h3>
  <p><%= @project.description %></p>

  <h3>Evolution</h3>
  <p><%= @project.evolution %></p>

  <div class="participation">
  <%= link_to 'Participate to this project', new_project_candidate_path(@project), class: 'btn btn-apply' %>
  </div>

  <% if current_user == @project.user %>
    <div class="candidates">
      <% @project.candidates.each do |candidate| %>
        <p><%= candidate.user.email %></p>
        <p><%= candidate.message %></p>
      <% end %>
    </div>
  <% end  %>

  <div class="bottom-page">
    <%= link_to 'Back to homepage', root_path, class: 'btn btn-menu' %>
  </div>
</div>
